
button{
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #59abe3;
    color:#fff;
    border-color: #59abe3;
    box-shadow: none;
    border-style: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.project-display{
    padding: 5px;
    margin-top:0px;
    padding-bottom:10px;
    margin-bottom:10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 2px #c9cccd;
    height: 15vh;
}
#content-box{
    padding-left:10%;
    width: 90%;
    align-content: center;
}
.container-left{
    float:left;
    width: 85%;
    margin-left: 25px;
}

.project-display h3 a{
    font-family: "Open Sans";
    color: #59abe3;
}
.project-display h3 a:hover{
    text-decoration: underline;
}
.project-display p{
    font-family: "Open Sans";
    color: slategray;
}
.project-display span{
    font-size: small;
    color: #e36759;
}

#project-title h2{
    padding-top:25px;
    color: black;
}
#attributes{
    background-color:#59abe3;
    border-right: 1px solid #59abe3;
    color:white;
    padding-top: 10px;
    padding-bottom:100px;
    margin-right:0px;
    border-radius: 10px;
}
#attributes span{
    font-weight: bold;
}
#project-description{
    padding-top:10px;
    margin-left: 0px;
}
/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  text-align: left;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}
/* Page content */
.content {
  padding: 16px;
    text-align: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
    text-align: center;
}

#pitchesbox {
    width: 60%;
    background-color:white;
    box-shadow: 0 1px 2px #c9cccd;
}

#bottomrow {
    margin-top: 20px;
}

#desctitle {
    text-align: left;
}