.project-display{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-left: 5px;
    margin-right: 5px;
}
.project-display h3 a{
    font-family: sans-serif;
    color: #59abe3;
}
.project-display h3 a:hover{
    text-decoration: underline;
}
.project-display p{
    font-family: sans-serif;
    line-height: 10px;   
    color: slategray;
}
.project-display span{
    font-size: small;
    color: #e36759;
}

#project-title h2{
    padding:25px;
    text-align: center;
    color: #59abe3;
}
#attributes{
    background-color:#59abe3;
    border-right: 1px solid #59abe3;
    color:white;
    padding-top: 10px;
    padding-bottom:100px;
    margin-right:0px;
}
#attributes span{
    font-weight: bold;
}
#project-description{
    padding-top:10px;
    margin-left: 0px;
}